html, body, div, span, p, h1, h2, h3, h4, h5, h6, a, dl, dt, dd, ul, ol, li, form, fieldset, legend, label, textarea, button, blockquote, q, img, font, small, strong, strike, sup, sub, em, code, abbr, acronym, pre, table, caption, th, tr, td { margin:0; padding:0; border:0; outline:none; font-weight: inherit; font-style: inherit; font-size: 100%; vertical-align: baseline; outline: none;}
body {font-family: "微软雅黑","黑体", Verdana, Arial, Helvetica, sans-serif; font-size: 14px;overflow-y: auto;}
a {text-decoration: none;outline: none;}
a:hover{text-decoration:none;outline: none;}
ul {padding: 0; margin: 0;}
li {list-style-type: none;}
i,em{font-style:normal;}
img {border: 0; display:block;}
.clear {clear: both;height: 0;font-size: 0;overflow:hidden}
.clear{zoom: 1}
.fr {float: right;}
.fl {float: left;}
.c:before , .c:after { content: ""; display: table; }
.c:after { clear: both; }
.hide {display:none}
.show {display:block}
input{ border:none;outline:none;}
select{border:none;background: none;-webkit-appearance: none;}
option { color: #000; }
.clearfix:after { visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0; }
.clearfix { *zoom:1; }
a,img,p,span,div{
	-webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
strong{ overflow:hidden; display:none; width: 0; height: 0; }
/*ranger*/
body,html {
	width: 750px;
	height: 100%;
	/*overflow-x: hidden;*/
	background: #000;
}
section {
	position: relative;
	display: block;
	width: 750px;
	overflow: hidden;
}
/*header*/
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 136px;
	background: rgba(23,23,23,.9);
	box-shadow: 0px 6px 10px rgba(0,0,0,.4);
	z-index: 12;
}
.header img {
	float: left;
	margin: 3px 0 0 33px;
}
.h_m {
	float: left;
	margin: 27px 0 0 20px;
	/*width: 342px;*/
	font: normal 22px/39px '微软雅黑';
	color: #fff;
    letter-spacing: 1px;
}
.h_m h1 {
	margin-right: 7px;
	font-size: 30px;
}
.h_m h1 , .h_m h2 { display: inline-block; }
/*.h_m p:after {
	content: '次下载';
}*/
.download_btn {
	float: right;
	margin: 25px 20px 0 0;
	width: 184px;
	height: 80px;
	background: #ffc00d;
	border-radius: 25px;
	font-size: 30px;
	text-align: center;
	line-height: 80px;
	text-shadow: 0 1px 1px #b48501;
	color: #fff;
}
/*background*/
.top {
	height: 1327px;
	background: url(../img/top_bg.jpg) 0 0 no-repeat;
}
.center {
	height: 700px;
	background: url(../img/cen_bg.jpg) no-repeat;
}
.bottom {
	height: 158px;
	background: url(../img/bom_bg.jpg) no-repeat;
}
/*top*/
.logo {
	position: absolute;
	top: 167px;
	left: 22px;
	z-index: 10;
}
.solgan {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 298px;
  height: 855px;
  background: url(../img/solgan.png) no-repeat;
  z-index: 6;
  -webkit-filter: hue-rotate(180deg);filter: hue-rotate(180deg);
}
.person {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 750px;
  height: 1144px;
  background: url(../img/Preview1.png) no-repeat;
  z-index: 7;
  pointer-events: none;
}
.q {
  position: absolute;
  width: 575px;
  height: 507px;
  top: 177px;
  left: 175px;
  z-index: 5;
}
.q1 {
  position: absolute;
  top: 0;
  left: 16px;
  width: 493px;
  height: 492px;
  background: url(../img/q1.png) no-repeat;
  -webkit-animation:Anti-clockwise 54s linear infinite;
  animation:Anti-clockwise 54s linear infinite;
}
.q2 {
  position: absolute;
  top:38px;
  left:0;
  width: 575px;
  height: 469px;
  background: url(../img/q2.png) no-repeat;
  -webkit-filter: hue-rotate(180deg);filter: hue-rotate(180deg);
}
.q-l {
  position: absolute;
  top: 156px;
  left: 173px;
  width: 180px;
  height: 180px;
  background: url(../img/q3_l.png) no-repeat;
  -webkit-animation:Anti-clockwise 18s linear infinite;
  animation:Anti-clockwise 18s linear infinite;
}
.q-r {
  position: absolute;
  top: 108px;
  left: 124px;
  width: 277px;
  height: 276px;
  background: url(../img/q4_r.png) no-repeat;
  -webkit-animation:Clockwise 25s linear infinite;
  animation:Clockwise 25s linear infinite;
}
/*center*/
.special_tit {
	margin: 35px auto 6px;
}
.center .swiper-container {
  overflow: unset;
  top: 20px;
  left: 50%;
  margin-left: -375px!important;
}
.swiper-pagination {
  width: 750px!important;
}
.swiper-pagination-bullet{
  top: 429px!important;
  width: 27px!important;
  height: 12px!important;
  border-radius:0!important;
  background: url(../img/swiper_ico1.png) no-repeat!important;
}
.swiper-pagination-bullet-active {
	width: 17px!important;
  background: url(../img/swiper_ico2.png) no-repeat!important;
  -webkit-filter: hue-rotate(180deg);filter: hue-rotate(180deg);
}
.swiper-pagination-bullets {
  bottom: -55px!important;
}
.swiper-button-prev , .swiper-button-next {
  width: 44px!important;
  height: 56px!important;
}
.swiper-button-prev {
  left: 7px!important;
  background: url(../img/swiper_l_1.png) no-repeat!important;
  -webkit-filter: hue-rotate(180deg);filter: hue-rotate(180deg);
}
.swiper-button-next {
  left: 697px!important;
  background: url(../img/swiper_r_1.png) no-repeat!important;
  -webkit-filter: hue-rotate(180deg);filter: hue-rotate(180deg);
}
.swiper-button-disabled {
  opacity: 1!important;
}
.swiper-button-prev.swiper-button-disabled {
  background: url(../img/swiper_l_2.png) no-repeat!important;
}
.swiper-button-next.swiper-button-disabled {
  background: url(../img/swiper_r_2.png) no-repeat!important;
}
/*bottom*/
.bottom p {
	width: 100%;
	text-align: center;
}
.bottom h3 , .bottom h4 {
	width: 100%;
	text-align: center;
	font-size: 26px;
}
.bottom h3 {
	font-weight: bold;
	color: #f58e29;
	-webkit-filter: hue-rotate(180deg);filter: hue-rotate(180deg);
}
.bottom h4 {
	color: #aaaaaa;
}
/*sns*/
.sns {
	padding: 43px 20px 0 35px;
	height: 105px;
	background: #e7e7e7;
}
.sns li {
	float: left;
	height: 70px;
	background-size:58px 58px;
	background-repeat:no-repeat;
}
.sns li:nth-child(1) {
	margin-right: 62px;
	background-image: url(../img/sns_1.png);
}
.sns li:nth-child(2) {
	margin-right: 62px;
	background-image: url(../img/sns_2.png);
}
.sns li:nth-child(3) {
	background-image: url(../img/sns_3.png);
}
.sns a {
	padding-left: 77px;
}
.sns a:link , .sns a:visited{
	line-height: 60px;
	color: #555555;
	font-size: 26px;
}
/*footer*/
footer {
	padding-top: 40px;
	width: 100%;
	height: 120px;
	background: #000;
	color: #777;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
}
footer a:link , footer a:visited {
  color: #777;
}
footer a:hover {
  color: #eee;
}
/*ani*/
@-webkit-keyframes Clockwise{
  to {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}
@keyframes Clockwise{
  to {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}

@-webkit-keyframes Anti-clockwise{
  to {
    -webkit-transform:rotate(-360deg);
    transform:rotate(-360deg);
  }
}
@keyframes Anti-clockwise{
  to {
    -webkit-transform:rotate(-360deg);
    transform:rotate(-360deg);
  }
}

@-webkit-keyframes downglass {
  to{
    -webkit-transform:translateY(155px);
    transform:translateY(155px);
  }
}
@keyframes downglass {
  to{
    -webkit-transform:translateY(155px);
    transform:translateY(155px);
  }
}

/*小分辨率手机*/
@media screen and (max-height: 1100px) {

}
